/* Header */
#header{
    height: var(--header-height);
    background-image: linear-gradient( #1ab7ea, #48c5ee, #6dd1f1, #8adaf4);
}
.header__nav{
    display: flex;
    justify-content: flex-end;
}
.nav-list{
    list-style: none;
    margin: 4px 0 0 0;
}
.nav-item{
    margin: 10px 8px 0;
    cursor: pointer;
    position: relative;
}
.nav-item,
.nav-item-link{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    padding-bottom: 2px;
}
.nav-item:hover,
.nav-item-link:hover{
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}
.nav-item:hover .header__notify{
    display: block;
    z-index: 1;
}
.nav-item-strong{
    font-weight: 600;
}
.nav-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    border-left: 1px solid #8adaf4;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

/* Header notify */
.header__notify{
    position: absolute;
    top: 120%;
    width: 404px;
    background-color: white;
    right: 0;
    border: 1px solid #d3d3d3;
    cursor: default;
    display: none;
    animation: HoverGrow ease-in 0.2s;
    /* Tối ưu chuyển động bằng will change */
    will-change: opacity, transform;
    transform-origin: calc(100% - 20px) 0;
    border-radius: 3px;
    /* overflow: hidden; */
    box-shadow: 0 2px 10px #ccc;
}
.header__notify::before{
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0;
    top: -30px;
}
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 20px;
    right: 0;
    top: -20px;
    /* background-color: red; */
}
.header__notify:hover .header__notify{
    display: block;
}
.header__notify-header{
    height: 40px;
    background-color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}
.header__notify-list{
    padding-left: 0;
}
.header__notify-item{
    /* display: flex; */
}
.header__notify-item:hover{
    background-color: rgba(241, 241, 241, 0.7);
}
.header__notify-item--viewed{
    background-color: white;
}
.header__notify-link{
    padding: calc((65px - 32px) / 2) 0;
    display: flex;
    text-decoration: none;
    background-color: rgba(26, 183, 234, 0.1);
}
.header__notify-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-info{
    flex: 1;
    margin-left: 12px;
}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 600;
    line-height: 1.8rem;
}
.header__notify-description{
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
    line-height: 1.6rem;
    margin-top: 4px;
}
.header__notify-footer{
    text-align: center;
    padding: 8px 0;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.4rem;
    font-weight: 600;
}
.header__notify-footer-btn:hover{
    color: var(--primary-color);
}
.header-with-search{
    display: flex;
    height: var(--header-with-search-height);
    align-items: center;
    margin: 0 8px;
}
.header__search{
    display: flex;
    align-items: center;
}
.header__search-input-wrap{
    height: 100%;
    flex: 1;
    position: relative;
}
.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}
.header__search-input:focus-visible ~
.header__search-history{
    z-index: 1;
    display: block;
}
/* Search history */
.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgb(172, 172, 172);
    display: none;
}
.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 500;
    cursor: default;
}
.header__search-history-list{
    padding-left: 0;
    margin: 6px 0 0;
    overflow: hidden;
}
.header__search-history-item{
    height: 38px;
    /* display: block; */
    padding: 0 12px;
}
.header__search-history-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
}
.header__search-select{
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    cursor: default;
}
.header__search-select::after{
    content: "";
    display: block;
    width: 100%;
    height: 18px;
    /* background-color: red; */
    position: absolute;
    top: 107%;
    right: calc(100% - 125px);
}
.header__search-select:hover
.header__search-option{
    z-index: 1;
    display: block;
}
.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-select-icon{
    font-size: 1.5rem;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
    color: rgb(131, 131, 131);
}
.header__search-option{
    position: absolute;
    right: 0;
    top: 178%;
    border-radius: 3px;
    width: 126px;
    box-shadow: 0 1px 2px #ccc;
    padding-left: 0;
    /* overflow: hidden; */
    display: none;
    animation: fadeIn ease-in 0.2s;
}
.header__search-option-item{
    background-color: var(--white-color);
    /* background-color: black; */
    padding: 8px 8px;
    /* text-align: right; */
}
.header__search-option-item:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.header__search-option-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}
.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
}
.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 3px;
    margin-right: 3px;
    width: 60px;
    outline: none;
}
.header__search-btn:hover{
    background-color: #63c5e4;
    cursor: pointer;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}
.header__cate-btn{
    width: 30px;
    text-align: center;
}
.header__cate-icon{
    color: var(--white-color);
    cursor: pointer;
    font-size: 2.4rem;
}
.header__cate-icon:hover{
    color: rgba(255, 255, 255, 0.7);
}
.header__logo{
    /* width: 200px; */
    margin-right: 26px;
}
.header__logo-img{
    width: 120px;
}
.header__search{
    background-color: var(--white-color);
    flex: 1;
    height: 40px;
    border-radius: 3px;
}
.header__cart{
    width: 150px;
    text-align: center;
    position: relative;
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}
.header__cart-wrap:hover
.header__cart-list{
    display: block;
}
.header__cart-wrap:hover
.header__cart-icon{
    color: rgba(255, 255, 255, 0.7);
}
.header__cart-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
}
.header__cart:hover
.header__cart-list{
    display: block;
}
.header__cart-list{
    position: absolute;
    top: calc(100% + 9px);
    background-color: var(--white-color);
    right: -3px;
    width: 400px;
    border-radius: 3px;
    cursor: default;
    box-shadow: 0 2px 10px #ccc;
    display: none;
    animation: fadeIn ease-in 0.2s;
}
.header__cart-list::before{
    position: absolute;
    content: "";
    right: 0;
    top: -30px;
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header__cart-no-cart-img{
    width: 60%;
    display: none;
}
.header__cart-list--no-cart{
    padding: 24px 0;
}
.header__cart-list-no-cart-msg{
    display: none;
    font-size: 1.4rem;
    margin-top: 12px;
    color: var(--text-color);
}
.header__cart-notify{
    position: absolute;
    padding: 1px 7px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    top: -8px;
    right: 0;
}
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__cart-list-item{
    padding-left: 0;
}
.header__cart-item{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header__cart-item:hover{
    background-color: #fbfbfb;
}
.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--border-color);
}
.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
}
.header__cart-item-price{
    font-size: 1.4rem;
    color: var(--primary-color);
}
.header__cart-item-multi{
    font-size: 0.9rem;
    color: gray;
    margin: 0 4px;
}
.header__cart-item-quantity{
    color: var(--black-color);
    font-size: 1.2rem;
}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}
.header__cart-item-describtion{
    color: gray;
    font-size: 1.2rem;
}
.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
}
.header__cart-item-remove:hover{
    color: var(--primary-color);
}
.header__cart-view-btn{
    margin-bottom: 4px;
}
/* Login form */
.login-modal.open{
    display: flex;
}
.modal__overlay{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
}
.modal__body{
    background-color: var(--white-color);
    margin: auto;
    /* position: relative; */
    z-index: 1;
    border-radius: 5px;
}
.login-form{
    width: 500px;

}
.login-form__container{
    padding: 32px 32px 0;
}
.login__header{
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.escape-btn{
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
}
.escape-btn:hover{
    color: var(--primary-color);
}
.login__heading{
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--text-color);
}

.login-form__form{

}
.login-form__input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    margin-top: 8px;
    padding: 0 12px;
    font-size: 1.4rem;
    outline: none;
}
.login-form__input:focus-visible{
    border-color: #888;
}
.login-form__btn{
    width: 100%;
    margin: 32px 0 5px;
}
.btn--login{
    width: 100%;
}
.login-form__more{
    display: flex;
    justify-content: flex-end;
    margin: 10px 5px 0 0;
}
.login-form__more-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    position: relative;
    /* line-height: 1.2rem; */
}
.login-form__more-link + .login-form__more-link{
    padding-left: 10px;
}
.login-form__more-link:hover{
    text-decoration: underline;
}
.login-form__more .login-form__more-forgetpass{
    color: var(--primary-color);
    text-decoration: none;
}
.login-form__more-forgetpass::after{
    content: "";
    display: block;
    position: absolute;
    right: -7px;
    top: 1px;
    width: 1px;
    height: 14px;
    border-left: 1px solid var(--black-color);
}
.login-form__socials{

}
.login-form__socials-icon{
    display: flex;
    font-size: 3rem;
    justify-content: center;
    margin: 10px 0;
    line-height: 5.5rem;
    align-items: center;
}
.login-form__socials-icon-apple{
    font-size: 4rem;
    margin-bottom: 9px
    /* align-self: center */
}
.login-form__socials-icon a{
    color: var(--text-color);
}
.login-form__socials-icon a:hover{
    color: var(--primary-color);
}
.login-form__socials-icon a + a{
    margin-left: 5px;
}