.carousel-control {
    width: 30px;
    height: 30px;
    margin-top: 19em;
}

.carousel-indicators {
    width: 160px;
    margin: auto;
}

.fa:hover {
    font: normal normal normal 50px/1 FontAwesome;
}