.carousel-control {
    width: 30px;
    height: 30px;
}

.carousel-indicators {
    width: 160px;
    margin: auto;
    z-index: 1;
}

.carousel-indicators li {
    background-color: var(--primary-color);
}

.fa-arrow-circle-o-left, .fa-arrow-circle-o-right {
    color: var(--primary-color);
}

.fa:hover {
    font: normal normal normal 50px/1 FontAwesome;
    z-index: 1;
}

.sticky-top {
    z-index: 1;
    top: 120px;
}
.p-custom {
    padding: 3rem 3rem 3rem 6rem;
}

.w-82 {
    width: 82%;
}