div.card:hover, div.card:active{
    background-color: #F7F7F7; cursor: pointer;
}

.martop{
    margin-top: 0px !important;
}

.card-text-config{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.txtOverflow{
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sticky-top {
    z-index: 1;
    top: 118px;
}