div.card:hover, div.card:active{
    background-color: #F7F7F7; cursor: pointer}

.martop{
    margin-top: -10px !important;
}

.card-text-config{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}