div.card:hover, div.card:active{
    background-color: #e8e8e8; cursor: pointer;
}

.martop{
    margin-top: 0px !important;
}

.card-text-config{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.txtOverflow{
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sticky-top {
    z-index: 1;
    top: 118px;
}

.w-77 {
    width: 77%;
}

.buy-button {
    background-color: #1ab7ea;
    border: 1px solid white;
    color: white;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: -5px 2px 1px;
    cursor: pointer;
    border-radius: 12px;
}
.buy-button-small {
    background-color: #1ab7ea;
    border: 1px solid white;
    color: white;
    padding: 0px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: -5px 2px 1px;
    cursor: pointer;
    border-radius: 12px;
}


.buy-button:hover{
    border: 1px solid grey;
    color: black;
}
.buy-button-small:hover{
    border: 1px solid grey;
}

.scale {
    height: 10em;
}